/* @font-face {
    font-family: 'GTPLANAR';
    src: url('GT-Planar-Regular-Trial.woff2') format("woff2");
    /*   src: url('GT-Planar.otf'); */


/* font-weight: 1 999; */


/* } */

@font-face {
    font-family: 'GTPlanar';
    src: url('GT-Planar-Trial-VF.ttf') format('truetype');
    /* font-weight: 120; */
}

html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

div,
span {
    color: #ffffff;
    margin: auto;
    width: 50%;
    /* position: absolute; */
    vertical-align: middle;
    text-align: center;
    font-family: 'GTPlanar';
    font-weight: 999;
    -webkit-font-smoothing: antialiased;
    /* font-size: 299; */
}