/* @font-face {
    font-family: 'GTPLANAR';
    src: url('GT-Planar-Regular-Trial.woff2') format("woff2");
    /*   src: url('GT-Planar.otf'); */


/* font-weight: 1 999; */


/* } */

:root {
    --red: #ff6f69;
    --weight: 900;
    --slant: 0;
    --cursorx: 0;
    --cursory: 0;
    --leftposition: 370px;
    --topposition: 160px;
    --bottompostion: 900px;
    --rightposition: 1350px;
    --leftrightfontsize: 53px;
}

@font-face {
    font-family: 'GTPlanar';
    src: url('GT-Planar-Trial-VF.ttf') format('truetype');
    /* font-weight: 120; */
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'GTPlanar';
    color: #ffffff;
    /* cursor: none; */
}

#mftest {
    position: absolute;
    margin: auto;
    width: 90%;
    -webkit-font-smoothing: antialiased;
    font-size: 109px;
    color: #ffffff;
    text-align: center;
    top: 50%;
    transform: translate(0%, -50%);
}

.posterP {
    position: absolute;
    margin: auto;
    font-size: 89px;
}


/* align-tracks: start; */

#posterleft {
    left: 330px;
    top: 190px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: var(--leftrightfontsize);
}

#posterright {
    /* width: 100%; */
    left: var(--rightposition);
    top: 190px;
    /* transform: rotate(-90deg);*/
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: var(--leftrightfontsize);
}

#postertop {
    left: var(--leftposition);
    top: 100px;
}

#posterbottom {
    left: var(--leftposition);
    top: 600px;
}

span {
    /* font-weight: ; */
    font-variation-settings: 'wght' var(--weight), 'slnt' var(--slant);
    /* font-variation-settings: 'wght' var(--weight); */
}

#cursor {
    position: absolute;
    left: var(--cursorx);
    top: var(--cursory);
    /* padding-left: 100px;
    padding-top: 60px; */
    font-size: 69px;
    /* color: #ffffff; */
}

#editpanel {
    /* position: absolute; */
    margin: auto;
    top: 2%;
    font-size: 19px;
}

#space {
    height: 200px;
}

#tickmarks,
myStrengthRange {
    color: #ffffff;
}

img {
    position: absolute;
    left: 330px;
    top: 100px;
}