:root {
    --red: #ff6f69;
    --weight: 900;
    --slant: 0;
    --cursorx: 0;
    --cursory: 0;
    --leftposition: 25px;
    --topposition: 10px;
    --bottompostion: 900px;
    --rightposition: 1350px;
    --leftrightfontsize: 48px;
}

@font-face {
    font-family: 'GTPlanar';
    src: url('GT-Planar-Trial-VF.ttf') format('truetype');
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'GTPlanar';
    color: #ffffff;
    /* cursor: none; */
}

#postercanvas {
    position: absolute;
    left: 330px;
    top: 100px;
    width: 1100px;
    height: 607.5px;
    font-weight: 100;
}

.posterP {
    position: absolute;
    margin: auto;
    font-size: 130px;
    text-align: center;
}

#posterleft {
    top: 110px;
    left: 20px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: var(--leftrightfontsize);
    text-align: center;
}

#posterright {
    left: 1000px;
    top: 110px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: var(--leftrightfontsize);
    text-align: center;
}

#postertop {
    left: var(--leftposition);
    top: -20px;
}

#posterbottom {
    left: var(--leftposition);
    top: 470px;
}

span {
    font-variation-settings: 'wght' var(--weight), 'slnt' var(--slant);
}

#cursor {
    position: absolute;
    left: var(--cursorx);
    top: var(--cursory);
    font-size: 69px;
}

#editpanel {
    margin: auto;
    top: 2%;
    font-size: 19px;
}

#space {
    height: 200px;
}

#tickmarks,
myStrengthRange {
    color: #ffffff;
}

img {
    position: absolute;
    left: 330px;
    top: 100px;
}

#space {
    position: absolute;
    left: 330px;
    top: 100px;
    width: 1080px;
    height: 607.5px;
    border-style: solid;
    border-color: white;
    border-width: 0.2px;
}